<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="world_name" default="worlds/empty.world" />
    <arg name="laser_enabled" default="true" />
    <arg name="kinect_enabled" default="false" />

    <arg name="manual_ctr" default="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="laser_enabled" value="$(arg laser_enabled)" />
        <arg name="kinect_enabled" value="$(arg kinect_enabled)" />
    </include>

    <group if="$(arg manual_ctr)">
        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard_ctr"></node>
    </group>

    <node pkg="rviz" type="rviz" name="rviz"></node>
</launch>